<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project 1</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style_project.css') }}"
    />
  </head>
  <body>
    <div class="content-container">
      <h1>Project 1</h1>
      <p>
        This project helped me learn advanced Python and SQL for data
        manipulation.
      </p>
      <a
        href="https://github.com/yourusername/project1"
        target="_blank"
        class="resume-button"
        >View on GitHub</a
      >
    </div>
  </body>
</html>
