<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yehezkiel's Portfolio</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="profile-container">
      <img
        src="{{ url_for('static', filename='images/profile.jpg') }}"
        alt="Profile Picture"
        class="profile-image"
      />
      <div class="profile-info">
        <h2>Yehezkiel Efraim Darmadi</h2>
        <p>
          Melbourne | +61 426 682 489 |
          <a href="https://www.linkedin.com/in/yehezkieled/" target="_blank"
            >linkedin.com/in/yehezkieled</a
          >
          | yehezkieled@gmail.com |
          <a href="https://github.com/yehezkieled" target="_blank">
            https://github.com/yehezkieled
          </a>
        </p>
        <p class="bio">Introduction....</p>
      </div>
    </div>

    <div class="navigation">
      <a
        href="#"
        data-section="Portfolio"
        class="active"
        onclick="showSection('Portfolio')"
        >Portfolio</a
      >
      <a href="#" data-section="resume" onclick="showSection('resume')"
        >Resume</a
      >
      <a href="#" data-section="about" onclick="showSection('about')"
        >About Me</a
      >
      <a
        href="#"
        data-section="publication"
        onclick="showSection('publication')"
        >Research and Publications</a
      >
    </div>

    <div id="content-container">
      <!-- portfolio section -->
      <div id="Portfolio" class="content-section">
        <div class="filters" id="filter-container">
          <!-- Filters will be generated dynamically -->
        </div>

        <div class="projects">
          <div
            class="project-card"
            data-skills="Python,SQL"
            onclick="window.open('https://example.com/project1')"
          >
            <h3>Project 1</h3>
            <p>Skills: Python, SQL</p>
          </div>
          <div
            class="project-card"
            data-skills="Data Wrangling,Optimisation"
            onclick="window.open('https://example.com/project2')"
          >
            <h3>Project 2</h3>
            <p>Skills: Data Wrangling, Optimisation</p>
          </div>
          <div
            class="project-card"
            data-skills="GitLab,CI/CD"
            onclick="window.open('https://example.com/project3')"
          >
            <h3>Project 3</h3>
            <p>Skills: GitLab, CI/CD</p>
          </div>
        </div>
      </div>

      <!-- resume section -->
      <div id="resume" class="content-section">
        <p>You can download my full resume here:</p>
        <a
          href="{{ url_for('static', filename='files/Yehezkiel Efraim Darmadi.pdf') }}"
          download
          class="resume-button"
          >Download Resume (PDF)</a
        >
        <!-- Work Experience Section -->
        <div class="work-experience">
          <h2>Work Experiences</h2>
          <div class="job">
            <h3>
              Master’s Student Researcher and Research Assistant at AI for Law
              Enforcement and Community Safety (AiLECS)
              <span class="date">August 2024 - Current</span>
            </h3>
            <p><em>Monash University, Melbourne</em></p>

            <div class="skills-grid">
              <div class="skill">Python</div>
              <div class="skill">SQL</div>
              <div class="skill">ArangoDB</div>
              <div class="skill">AQL</div>
              <div class="skill">Data Visualisation</div>
              <div class="skill">Data Wrangling</div>
              <div class="skill">Optimisation</div>
              <div class="skill">Graph & SNA</div>
              <div class="skill">Research & Writing</div>
              <div class="skill">Project Management</div>
              <div class="skill">GitLab</div>
              <div class="skill">CI/CD</div>
            </div>
          </div>

          <div class="job">
            <h3>
              Product Developer Actuary (Senior Level)
              <span class="date">September 2021 – October 2022</span>
            </h3>
            <p>
              <em
                >Yayasan Agri Sustineri Indonesia / Syngenta Foundation, Jakarta
                Selatan</em
              >
            </p>

            <div class="skills-grid">
              <div class="skill">Python</div>
              <div class="skill">R Programming</div>
              <div class="skill">Data Analysis</div>
              <div class="skill">Raster & Geographical Data</div>
              <div class="skill">Mathematical Modelling</div>
              <div class="skill">Risk Analysis & modelling</div>
              <div class="skill">Time SeriesAnalysis & modelling</div>
              <div class="skill">Microsoft Excel and VBA Macro</div>
              <div class="skill">Data Wrangling</div>
              <div class="skill">Team Leading</div>
            </div>
          </div>

          <div class="job">
            <h3>
              Business Analyst <span class="date">May 2021 – August 2021</span>
            </h3>
            <p><em>LAZADA, Jakarta Selatan</em></p>

            <div class="skills-grid">
              <div class="skill">Data Analysis</div>
              <div class="skill">SQL</div>
              <div class="skill">Python</div>
              <div class="skill">Microsoft Excel</div>
              <div class="skill">Collboration</div>
              <div class="skill">Stakeholder Management</div>
            </div>
          </div>
        </div>

        <!-- education -->
        <!-- add the transcript -->
        <div class="education-section">
          <h2>EDUCATION</h2>
          <div class="education-card">
            <h3>Master of Data Science</h3>
            <p>
              <em>Monash University, Melbourne</em> |
              <span class="date">2022 - 2024</span>
            </p>

            <div class="skills-grid">
              <div class="skill">Python</div>
              <div class="skill">SQL</div>
              <div class="skill">Databases</div>
              <div class="skill">Machine Learning</div>
              <div class="skill">Data Visualizsation</div>
              <div class="skill">R Programming</div>
              <div class="skill">Data Wrangling</div>
              <div class="skill">Statistics</div>
              <div class="skill">Big Data</div>
              <div class="skill">Project Management</div>
              <div class="skill">Research & Writing</div>
            </div>
          </div>

          <div class="education-card">
            <h3>Bachelor of Actuarial Science</h3>
            <p>
              <em>Asia Pacific University</em> |
              <span class="date">2018 - 2022</span> |
              <em>First Class Honor</em>
            </p>

            <div class="skills-grid">
              <div class="skill">Microsoft Excel VBA</div>
              <div class="skill">SPSS</div>
              <div class="skill">Advance Statistics</div>
              <div class="skill">Advance Mathematics</div>
              <div class="skill">Financial Economics</div>
            </div>
          </div>
        </div>

        <!-- certifications -->
        <div class="certifications-section">
          <h2>CERTIFICATIONS</h2>
          <div class="certifications-grid">
            <div class="certification">
              <h3>AWS Certified Cloud Practitioner</h3>
              <p>Issued by AWS | <span class="date">2024</span></p>
              <a
                href="https://www.credly.com/badges/67e45d27-e711-497c-aac3-c86cd3ab6e56"
                target="_blank"
                >View Certificate</a
              >
            </div>
            <div class="certification">
              <h3>Python for Data Science and AI</h3>
              <p>Issued by Coursera and IBM</p>
              <a
                href="https://www.credly.com/badges/69383e5e-0f26-4702-9dcc-9144299305c3/public_url"
                target="_blank"
                >View Certificate</a
              >
            </div>
            <div class="certification">
              <h3>Introduction to Artificial Intelligence</h3>
              <p>Issued by Coursera and IBM</p>
              <a
                href="https://www.coursera.org/account/accomplishments/certificate/RAREZPTS7SL4"
                target="_blank"
                >View Certificate</a
              >
            </div>
            <div class="certification">
              <h3>Alteryx Designer Core</h3>
              <p>Issued by Alteryx</p>
            </div>
            <div class="certification">
              <h3>
                IFOA Certifications (CT2: Finance, CT3: Statistics, CT7:
                Business Economics)
              </h3>
              <p>Issued by IFOA</p>
            </div>
            <div class="certification">
              <h3>
                NLP with Probabilistic Models and with Classification and Vector
                Models
              </h3>
              <p>Issued by DeepLearning.AI</p>
            </div>
          </div>
        </div>
      </div>

      <!-- for the about section -->
      <div id="about" class="content-section">
        <!-- timeline -->
        <div class="timeline">
          <div class="timeline-event">
            <div class="timeline-badge">
              <!-- <img src="icon1.png" alt="Icon" /> -->
            </div>
            <div class="timeline-content">
              <h3>IST Delegate Election</h3>
              <h4>Election app for Técnico's Pedagogical Council</h4>
              <p>Since I was a member of the Pedagogical Council...</p>
              <span class="timeline-date">October 2023</span>
            </div>
          </div>

          <div class="timeline-event">
            <div class="timeline-badge">
              <!-- <img src="icon2.png" alt="Icon" /> -->
            </div>
            <div class="timeline-content">
              <h3>KTH</h3>
              <h4>MSc Cybersecurity</h4>
              <p>I started a Cybersecurity Master programme at...</p>
              <span class="timeline-date">April 2022</span>
            </div>
          </div>
        </div>
      </div>

      <!-- publication section -->
      <div id="publication" class="content-section">
        <h2>coming soon</h2>
      </div>
    </div>

    <script src="{{ url_for('static', filename = 'js/script.js')}}"></script>
  </body>
</html>
